<div class="total">
  <h2>Total = ${{cart.total}}</h2>
</div>
<ul>
{{#each cart.products as |product index|}}
{{heading}}
  <h4>{{product.name }} -- ${{product.price}}</h4>
  <button {{ action 'remove' product }}>Remove from Cart</button>
  <!-- {{log product}} -->
{{/each}}
</ul>
