


{{#each sortedProducts as |product|}}
  <div class="panel panel-default" style="background-image: url('{{product.image}}')">

    <div class="productpanel">
      {{#link-to 'product' product }}{{product.name}} : ${{product.price}} {{/link-to}}
    </div>

      {{#if product.inCart}}<p> Only one.  Don't be greedy. </p>
      {{else}}
      <button {{action 'addToCart' product}}>Add to Cart</button>
      {{/if}}

      <!-- <img src='{{product.image}}' alt="image of product" style="background-image"> -->

  </div>

  <!-- <div class="form-control">
    <label>Quantity</label>
    <input value="quantity" id="quantity">
  </div> -->


{{/each}}
