<div class="well">
  {{product.name}} - ${{product.price}} <img src="{{product.image}}"><br />
  Category:  {{product.category.title}}
  <button {{action 'addtoCart' product}}>Add to Cart</button>
</div>
